<h1 class="screen-reader-text">Posts</h1>

<div id="loop-container" class="loop-container">
	{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
	{{ range $index, $element := .Paginator.Pages }}
	{{ if and (isset .Params "image") .Params.image }}
	{{ if eq (mod $index 2) 0 }}
	<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured odd excerpt">
		{{ else }}
		<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
			{{ end }}
			{{ else }}

			<div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured odd excerpt">

				{{ end }}

				{{ if and (isset .Params "image") .Params.image }}
				<a class="featured-image-link" href="{{ .Permalink }}">
					<div class="featured-image"
								style="background-image: url({{ .Params.image | absURL }});background-position: center;">
					</div>
				</a>

				{{ end }}
				{{$lang := printf "%s" $.Site.Language }}
				<div class="excerpt-container">
					<div class="excerpt-meta">
						{{ partial "date-lang.html" . }}

						{{ partial "categories-top-lang.html" .}}
					</div>
					<div class='excerpt-header'>
						<h2 class='excerpt-title'>
							<a href="{{ .Permalink }} "> {{ .Title }} </a>
						</h2>
					</div>
					<div class='excerpt-content'>
						<article>
							{{ .Summary }}

							<div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">{{i18n "read-the-post"}}<span class="screen-reader-text">This is a Standard Post</span></a></div>
						</article>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
